<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Product</h1>
    <form th:method="POST" th:object="${orderdetail}">

        <input type="text" th:name="product" th:field="*{product}" placeholder="Product">

        <input type="number" th:name="quantity" th:field="*{quantity}" placeholder="Quantity">

        <button type="submit"  th:formaction="@{/order}">Add</button>
        <button type="submit"  th:formaction="@{/checkout}">Check out</button>
    </form>
</body>
</html>