<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/submit/success}" method="POST" th:object="${orderDetail}">
       
        <label for="order_id">Order:</label>
        <input type="text" id="order_id" name="order_id" th:field="*{order_id}" required><br><br>
        
        <label for="product">Product name:</label>
        <input type="text" id="product" name="product" th:field="*{product}" required><br><br>
        
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" th:field="*{quantity}"><br><br>
    
        <input type="submit" value="Submit">
    </form>
    
    
</body>
</html>